body {
    max-width: 68.125em;
    position: relative;
    margin: 0 auto;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: #e0eafc;
}

#drop-outer-zone {
    position: relative;
    width: 500px;
    height: auto;
    margin: 5em auto;
    padding: 2em;
    background-color: white;
    border-radius: 0.5em;
    display: grid;
    justify-content: center;
}

#drop-inner-zone {
    position: relative;
    margin: 1em auto;
    padding: 1em 1.5em;
    width: 450px;
    min-height: 276px;
    border: 2px dashed lightgray;
    border-radius: 0.5em;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: repeat(6, 1fr);

    &.hover {
        border-color: #1085fc;
        background-color: rgba(16, 133, 252, 0.2);
    }

    #drop-prompt {
        display: grid;
        align-items: center;
        align-content: center;
        justify-items: center;
        grid-row: 1 / span 4;

        p {
            margin: 0.5em auto;
        }
    }
}

#uploaded-section {
    position: relative;
    margin: 0 auto;

    ul {
        padding: 0;
    }

    .item {
        width: auto;
        height: 5em;
        background-color: white;
        padding: 1em 2em;
        border-radius: 0.5em;
        display: grid;
        grid-template-columns: 10em 1fr;
        gap: 1em;
        justify-items: start;
        align-items: center;

        img {
            width: auto;
            height: 5em;
        }

        div {
            display: contents;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
    }
}

#search-zone {
    width: 100%;
    grid-row: 5 / span 6;

    &.hide {
        display: none;
    }

    #or-split {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 6em 1fr;
        grid-row: 4 / span 5;
        margin: 1em auto;

        .or-line {
            border-top: 1px solid rgb(232, 234, 237);
            height: 0;
        }

        p {
            margin: 0 auto;
            font-weight: 100;
        }
    }

    #input-zone {
        display: flex;
        gap: 1em;

        button {
            min-width: 6em;
            height: 3em;
            background-color: white;
            border: 1px solid rgba(149, 157, 165, 0.3);
            border-radius: 3em;
            cursor: pointer;

            &:hover {
                background-color: rgba(16, 133, 252, 0.2);
            }
        }

        input {
            border-radius: 3em;
            border: 1px solid rgba(149, 157, 165, 0.3);
            width: 100%;
            height: 3em;
            padding: 0 1.5em;
        }
    }
}

.shadow {
    border: 1px solid rgba(149, 157, 165, 0.3);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.subtext {
    color: grey;
    font-weight: 100;
}

.blue {
    color: #1085fc;
}
