body {
    max-width: 68.125em;
    position: relative;
    margin: 0 auto;
    padding: 0 1.5em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: #e0eafc;
}

#drop-outer-zone {
    position: relative;
    max-width: 550px;
    margin: 5em auto;
    padding: 2em;
    background-color: white;
    border-radius: 1em;
}

#drop-inner-zone {
    position: relative;
    margin: 0 auto;
    padding: 1em 1.5em;
    border: 2px dashed lightgray;
    border-radius: 0.5em;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

    &.hover {
        min-height: 300px;
        border-color: #1085fc;
        background-color: rgba(16, 133, 252, 0.2);
    }

    #logo {
        width: 4em;
        height: auto;
        fill: #1085fc;
        padding-left: 1.5em;
        margin-bottom: 1.5em;
    }

    #drop-prompt {
        display: grid;
        align-items: center;
        align-content: center;
        justify-items: center;
        grid-row: 1 / span 4;
        color: grey;

        p {
            margin: 0 auto;
        }

        div {
            display: grid;
            align-items: center;
            grid-template-rows: 1fr;
            grid-template-columns: auto auto;

            input {
                display: none;
            }

            button {
                border: none;
                background-color: transparent;
                font-size: 1em;
                font-weight: bold;
                color: #1085fc;

                &:hover,
                &:focus {
                    outline: none;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

#error-message {
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
}

#search-zone {
    width: 100%;
    grid-row: 5 / span 6;

    &.hide {
        display: none;
    }

    #or-split {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto 1fr;
        grid-row: 4 / span 5;
        margin: 1em auto;

        .or-line {
            border-top: 1px solid rgb(232, 234, 237);
            height: 0;
        }

        p {
            color: gray;
            margin: 0 auto;
            font-weight: 100;
            padding: 0 1em;
        }
    }

    #search-inputs {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        gap: 1em;

        button {
            min-width: 6em;
            height: 3em;
            color: #1085fc;
            background-color: white;
            border: 1px solid rgba(149, 157, 165, 0.3);
            border-radius: 3em;
            cursor: pointer;
            font-size: 1em;

            &:hover {
                background-color: rgba(16, 133, 252, 0.2);
            }
        }

        input {
            height: 3em;
            border-radius: 3em;
            border: 1px solid rgba(149, 157, 165, 0.3);
            padding: 0 1.5em;
            font-size: 1em;
        }
    }
}

#uploaded-section {
    position: relative;
    margin: 0 auto;

    ul {
        padding: 0;
    }

    .item {
        width: auto;
        height: 5em;
        background-color: white;
        padding: 1em 2em;
        border-radius: 0.5em;
        display: grid;
        grid-template-columns: 10em 1fr;
        gap: 1em;
        justify-items: start;
        align-items: center;

        img {
            width: auto;
            height: 5em;
        }

        div {
            display: contents;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
    }
}

.shadow {
    border: 1px solid rgba(149, 157, 165, 0.3);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 480px) {
    #drop-inner-zone {
        grid-template-rows: repeat(6, auto);

        #drop-prompt {
            margin: 1em auto;
            p {
                display: none;
            }

            button {
                text-transform: capitalize;
            }
        }
    }

    #search-zone {
        #search-inputs {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    #uploaded-section {
        .item {
            height: 3em;
            grid-template-columns: 5em 1fr;

            img {
                height: 3em;
            }
        }
    }
}
